.rowC{
    width: fit-content;
    
    margin-top: 0px;
    border: 5px black;
    border-collapse: collapse;
    min-height: 60vh;
    max-height: 65vh;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    -webkit-text-fill-color: #931717;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4a2d2d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(85, 2, 2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #931717;
  }

  .ptr{
    cursor: help;
    font-weight: 500;
  }
  .del{
    cursor:pointer;
  }
